html {
  font-size: 20px;
}
/* Color properties  */
.title {
  color: rgb(100, 100, 100); /* RGB: 0-255 */
  color: #ff0000; /* HEX color format : 0-F */
  background-color: rgb(248, 179, 179);
}

/* Text properties  */
.title {
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize; /* uppercase, lowercase, capitalize */
  text-shadow: -2px 2px 4px black; /* horizontal vertical spread color */
  letter-spacing: 10px;
  word-spacing: 10px;
}

.content {
  text-align: justify; /* left, right, center, justify */
  line-height: 1.25;
}

/* Font properties */
.title {
  font-size: 50px;
  font-weight: bold;
  font-family: sans-serif; /* serif, sans-serif, monospace */
  font-style: italic;
}

.content {
  font-size: 20px;
  font-weight: 500;
}

/* Box model  */
.title {
  margin: 20px 10px 40px 5px; /* TRBL */ /*TXB*/ /*YX*/ /*All*/
  padding: 20px;
  border: 5px solid green; /* size type color */
  height: 100px;
  width: 200px;
}

/* Display properties */
.label {
  text-align: right;
  display: inline-block; /* block, inline-block, inline, none, grid, flex */
  width: 400px;
}

/* Flexbox properties */
.box {
  background-color: antiquewhite;
  display: flex; /* default horizontal direction */
  flex-direction: row; /* row, column, row-reverse, col-reverse */
  justify-content: left; /* left, right, center, space-between, space-around, space-evenly */
  align-items: center;
  gap: 10px;
  box-shadow: 2px 0px 10px 5px grey; /* horizontal vertical spread color */
}

.box div:first-child {
  height: 50px;
  background-color: aqua;
}

.extra {
  cursor: pointer;
  opacity: 0.8;
}

.list {
  list-style: circle; /* disc, circle, square, none */
}

.ordered-list {
  list-style-type: lower-alpha;
}

/* pseudo (fake) */
.extra:hover {
  background-color: brown;
}

.box div:first-child {
  color: red;
}

.box div:last-child {
  color: green;
}

.box div:nth-child(3) {
  color: blue;
}

input {
  background-color: green;
}

input:disabled {
  background-color: gray;
}

/* px, rem, em, in, cm, vh, vw*/
.info {
  border: 1px solid;

  /* px:pixel */
  font-size: 20px;
  /* rem: relative to root */
  font-size: 1.5rem;
  /* em: relative to parent */
  font-size: 3em;
  background-color: bisque;
  width: 200px;
  height: 100px;
  overflow: auto; /* hidden, auto, visible, scroll */
}

.info-box {
  font-size: 10px;
  /* vh: viewing height */
  height: 50vh;
  /* vw: viewing width */
  width: 50vw;
}
