.box {
  height: 200px;
  width: 300px;
  background-color: aqua;
  animation: my_animation 10s ease-out infinite;
}

/* Translate : change position */
/* .box:hover {
  transform: translate(50px, 100px);
} */

/* Rotate : change orientation/angle */
/* .box:hover {
  transform: rotate(90deg);
} */

/* Scale: change size  */
/* .box:hover {
  transform: scale(1.5);
} */

/* Skew  */
/* .box:hover {
  transform: skewY(30deg)
} */

@keyframes my_animation {
  0% {
    transform: translate(0, 0) scale(1);
    background-color: aqua;
  }

  25% {
    transform: translate(500px, 0) rotate(90deg) scale(0.5);
    background-color: bisque;
  }

  50% {
    transform: translate(500px, 500px) rotate(180deg) scale(1);
    background-color: cornflowerblue;
  }

  75% {
    transform: translate(0, 500px) rotate(270deg) scale(2);
    background-color: dodgerblue;
  }

  100% {
    transform: translate(0, 0) rotate(360deg) scale(1);
    background-color: aqua;
  }
}
