header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: end;
  list-style: none;
  gap: 1rem;
}
